.earnings-callout {
    flex-direction: row;
    height: 50px;
    width: 100%;
    padding: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: large;
    font-weight: 800;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form {
    flex-direction: column;;
    height: 50px;
    width: 30em;  
    display: flex;
    position: relative;
}

.form input {
  margin: 10px;
  height: 100%;
  width: 100%;
  padding-left: 45px;
  font-size: 18px;
  outline: none;
  border: none;
  color: #383838;
  background: #dde1e700;
  border-radius: 15px;
  box-shadow: inset 2px 2px 5px #babecc,
              inset -5px -5px 10px #ffffff73;
}

.form input:focus ~ label{
    box-shadow: inset 2px 2px 5px #babecc,
                inset -1px -1px 2px #ffffff73;
}

.form select {
    margin: 10px;
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #383838;
    background: #dde1e700;
    border-radius: 15px;
    box-shadow: inset 2px 2px 5px #babecc,
                inset -5px -5px 10px #ffffff73;
}

.form select > option{
    font-size: 18px;
    color: #ffffff;
    background: #dde1e700;
    border-radius: 15px;
    box-shadow: inset 2px 2px 5px #babecc,
                inset -5px -5px 10px #ffffff73;
}

.button-inactive{
    margin: 25px 10px 10px 10px;
    width: 100%;
    height: 50px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    background: #dde1e700;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #babecc,
                -5px -5px 10px #ffffff73,
                inset 2px 2px 2px #ffffff73,
                inset -2px -2px 2px #babecc;
    transition: all 0.2s;
}

.button-inactive:hover{
    background: #52525200;
    box-shadow: 6px 6px 10px #babecc,
                -10px -10px 15px #ffffff73,
                inset 2px 2px 2px #ffffff73,
                inset -2px -2px 2px #babecc;
}

.button-active{
    margin: 25px 10px 10px 10px;
    width: 100%;
    min-width: 350px;
    height: 50px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    background: #dde1e700;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: inset 2px 2px 5px #babecc,
                inset -5px -5px 10px #ffffff73,
                2px 2px 3px #ffffff73,
                -2px -2px 3px #babecc;
    transition: all 0.3s;
}

.button-active:hover{
    box-shadow: inset 4px 4px 7px #babecc,
                inset -7px -7px 12px #ffffff73,
                2px 2px 3px #ffffff73,
                -2px -2px 3px #babecc;
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-out {
	-webkit-animation: fade-out 1s ease-out both;
	        animation: fade-out 1s ease-out both;
}

@media only screen and (max-width: 768px) {
    .form {
        width: 25em;
    }    
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-1 20:40:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
@-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  